h2 {
    color: red;
}
.container {
    background-color: grey;
}
.div_title {
    
}
.shapes {
    background-color: black;
}
.triangle {
    background-color: green;    
}
.square {
    background-color: blue;
}
.rect {
    background-color: yellow;
}
.circle {
    background-color: red;
}