h2 {
    color: red;
}
.div_title {

}
.container {
    background-color: grey;
    position: absolute;
}
.shapes {
    background-color: black;
}
.triangle {
    background-color: green;
    margin: 3px;
    float: left;
    border-color: black;
    height: 220px;
}
.square {
    background-color: blue;
    margin: 3px;
    float: left;
}
.rectangle {
    background-color: yellow;
    margin: 3px;
    float: left;
}
.circle {
    background-color: red;
    margin: 3px;
    float: left;
}
.theSquare {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 20px;
}
.theTriangle {
    width: 0;
    height: 0;
    border: solid 30px black;
    border-color: transparent transparent white transparent;
}

.theRectangle {
    height: 100px;
    width: 200px;
    background-color: white;
    margin: 20px;
}
.theCircle {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 20px;
    border-radius: 50%;
}
.circles {

}
.play {
    width:100px;
    height:100px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:black;
    float:left;
}